.PageControl{
  display:flex;
  justify-content: center;
  align-content: center;
}
.FocusContainer{
  background-color: #212529;
  margin: 3%;
  width:1000px;
  min-height: 600px;
  height: 100%;
  border: 2px solid #575757;
}
.button{
  background-color: #2b2b2b;
  color: white;
  padding: 2% 2%;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-weight:  lighter;
  border: 3px solid #353636;
}
#FocusContainerH1{
  text-align: center;
  margin-top: 2vw;
  font-size: 10vmin;
  color: #FFFFFF;
  font-weight: lighter;

}
#RGBh2In{
  margin-top: 2%;
  font-size: 4vh;
  text-align: center;
}
#RgbDisplayBox{
  background-color: rgb(122,122,122);
  color: white;
  padding: 2% 2%;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-weight:  lighter;
  border: 3px solid #575757;
  font-size: 7vmin;
  margin-top: 5%;
  width: 50vmin;
  height: 30vmin;
}
#FormContainer{
  /* background-color: blue; */
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space;
}
.RgbFormElemnt{
  width: 8vmax;
}
#RGBsubmitButton{
  align-content: center;
  margin:1vw;
  width: 24vmax;
}

#HPlowerBtn{
  display: inline-block;
  width: 300px;
  margin: 20px;
  font-size: 200%;
  margin-bottom: 5%;
}
