<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="home.css">

<head>
  <%- include('../partials/PartHeader'); %>
</head>
<header>
  <h1> Colour Extraction Page </h1>
<body class="container">

      <a href="/ColourRes">
        <button><h1>See Results</h1></button>
      </a>
</body>
</html>
