<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- pass in the title parameter !-->
        <title><%=title%></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <%- include('../partials/navigation'); %>
        <!-- Page Content-->
        <section>
            <div class="container px-4 px-lg-5 " style="z-index: 1;">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5">Colour Extraction</h1>
                        <p> please submit a photo below, to pick a colour: </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
          <div class="container">
            <%- include('../partials/canvas'); %>
          </div>
        <section>
    </body>
</html>
