<!DOCTYPE html>
<html lang="en">

<link href="css/styles.css" rel="stylesheet" />

<head>
  <%- include('../partials/PartHeader'); %>
</head>

<header>
  <a href="/">
    <h1> Home Page <h1>
  </a>
</header>



<body class="container">
    <%- include('../partials/navigation'); -%>
  <section>
      <a href="/ColourRes">
        <button>click me</html>
      </a>
  </section

</body>

<footer>

</footer>
</html>
