<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- pass in the title parameter !-->
        <title><%=title%></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!-- Testing CSS !-->
        <link href="css/cColourExt.css" rel="stylesheet" />

    </head>

    <header>
      <!-- <div class="container px-4 px-lg-5 " style="z-index: 1;"> -->
          <!-- <div class="row gx-4 gx-lg-5"> -->
              <!-- <div class="col-lg-7"> -->
                  <h1 class="TitleLine">Colour Extraction Tool</h1>
              <!-- </div> -->
          <!-- </div> -->
      <!-- </div> -->
    </header>

    <body>

        <!-- Page Content-->
        <section>
          <div class="CanvasContainer">
            <!-- Canvas Partial !-->
            <%- include('../partials/prtCanvas'); %>

            <div id = RgbRect>Click to Select Colour</div>
          </div>

            <div class="container" id = "LowerExtContainer">
              <a id ="EXTlowerBtn" href = "/RgbInput" class = "button" >Input RGB Values</a>
              <a id = "EXTlowerBtn" href = "/ColourRes" class = "button" >Get Results</a>
            </div>

          </div>

        <section>
    </body>

    <footer>
      <!-- Navigation-->
      <%- include('../partials/prtNavigation'); %>
    </footer>

</html>
