<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- pass in the title parameter !-->
        <title><%=title%></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/cColourPicker.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <div Class="PageControl">
      <div class = "FocusContainer">
        <header>
            <h1 id = "HPh1Hp"> History Page </h1>
        </header>
        <div class="ComingSoonContainer">
        <h2 id="ComingSoon1"> Coming Soon...</h2>
        <p id='ComingSoon2'> The History Page is to be developed in the future, to allow users to look at previous colour queries </p>
          </div>

      </div>

      </body>

      <footer>
        <!-- Navigation-->
        <%- include('../partials/prtNavigation'); %>
      </footer>

    </html>
