<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="home.css">

<head>
  <%- include('../partials/PartHeader'); %>
</head>
<body class="container">
      <a> RGB Input </a>
</body>
</html>
